@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Handlee;
}

@font-face {
  font-family: "Handlee";
  src: url(./Fuentes/Handlee-Regular.ttf) format("truetype");
}

body {
  background-color: #ff47591c;
}

body h1 {
  text-align: center;
}

.main.sin-original div.original {
  display: none;
}

.main.sin-original div.modificada {
  width: 100%;
}

.main.sin-original .celda .input {
  display: none;
}

.main.sin-original .celda label.label {
  display: none;
}

.main.sin-original .celda .output {
  width: 100%;
}

.visibilidad {
  padding: 0.5rem;
  background-color: #ccf1ff;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.celda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
}

.celda .delete {
  background-color: #ccf1ff;
  display: inline-block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid black;
  border-right: none;
  height: 100%;
  width: 2rem;
  margin: 0;
}

.celda .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  height: 100%;
}

.celda .label {
  display: inline-block;
  width: 10%;
  text-align: center;
  margin: auto;
}

.celda .output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
}

.celda .output .cantidad {
  width: 33%;
}

.celda .output label.ingrediente {
  width: 66%;
}

.celda .input .cantidad {
  width: 33%;
  height: 100%;
  display: inline-block;
  border: 1px solid black;
  margin: 0;
  padding: 0.3rem;
}

.celda input.ingrediente {
  width: 66%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0.3rem;
}

.celda + .celda {
  margin-top: 1rem;
}

div.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

div.add button {
  background-color: #ccf1ff;
  border: 1px solid black;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.50rem;
}

.titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.titulos div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulos div label {
  font-size: 1.2rem;
}

.celda input.ingrediente {
  background-color: transparent;
  border: none;
}

.celda label.ingrediente {
  width: 100%;
}

/*  */
.celda-añadida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.celda-añadida div.input {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.celda-añadida div.input .delete {
  width: 2rem;
}

.celda-añadida div.input .cantidad {
  width: 33%;
}

.celda-añadida div.input .ingrediente {
  width: 66%;
}

.celda-añadida label.label {
  width: 10%;
}

.celda-añadida div.output {
  width: 45%;
}

div.flotante {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

div.flotante button {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 0.2rem solid #00b7ff;
  background-color: #59d0ff;
}
/*# sourceMappingURL=styles.css.map */