* {
  box-sizing: border-box;
  font-family: Handlee;
}

@font-face {
  font-family: "Handlee";
  src: url(./Fuentes/Handlee-Regular.ttf) format("truetype");
}

body {
  h1 {
    text-align: center;
  }

  background-color: #ff47591c;
}

.main.sin-original {
  div.original {
    display: none;
  }
  div.modificada {
    width: 100%;
  }
  .celda {
    .input{
      display: none;
    }
    label.label {
      display: none;
    }
    .output {
      width: 100%;
    }
  }
}


.visibilidad {
  padding: 0.5rem;
  background-color: #ccf1ff;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.celda {
  display: flex;
  height: 2rem;


  .delete { 
    background-color: #ccf1ff;
    display: inline-block;
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
    border: 1px solid black;
    border-right: none;
    height: 100%;
    width: 2rem;
    margin: 0;
  }

  .input {
    display: flex;
    width: 45%;
    height: 100%;
  }

  .label {
    display: inline-block;
    width: 10%;
    text-align: center;
    margin: auto;
  }

  .output {
    display: flex;
    width: 45%;

    .cantidad {
      width: 33%;
    }

    label.ingrediente {
      width: 66%;
    }
  }

  .input .cantidad {
    width: 33%;
    height: 100%;
    display: inline-block;
    border: 1px solid black;
    margin: 0;
    padding: 0.3rem;
  }

  input.ingrediente {
    width: 66%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0.3rem;
  }

  + .celda {
    margin-top: 1rem;
  }
}

div.add {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  button {
    background-color: #ccf1ff;
    border: 1px solid black;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.50rem;
  }
}

.titulos {
  display: flex;
  margin-bottom: 1rem;

  div {
    width: 50%;
    display: flex;
    justify-content: center;

    label {
      font-size: 1.2rem;
    }
  }
}

.celda {
  input.ingrediente {
    background-color: transparent;
    border: none;
  }

  label.ingrediente {
    width: 100%;
  }
}

/*  */

.celda-añadida {
  display: flex;
  flex-direction: row;

  div.input {
    width: 45%;
    display: flex;
    flex-direction: row;

    .delete {
      width: 2rem;
    }

    .cantidad {
      width: 33%;
    }

    .ingrediente {
      width: 66%;
    }
  }

  label.label {
    width: 10%;
  }

  div.output {
    width: 45%;
  }
}


div.flotante {
  button {
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #ccf1ff;

  }

  position: fixed;
  bottom: 1rem;
  right: 1rem;
}